table{
    width: 100%;
    margin-top: 1vh;
    height: 100%;
    border: 2px black solid;
}
td{
    text-align: center;
}
button{
    margin: 1vw;
}
nav{
    text-align: right;
    margin-right: 1vw;
}
main{
    margin: 1%;
}