﻿@page "/AddStudent"
@using Otus.FrontEndWithApiDemo.FrontEnd.Blazor.Services.Base
@using BlazorBootstrap
@inject IStudentsService StudentsService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Создание студента</PageTitle>
<Toasts class="p-3"   Placement="ToastsPlacement.TopRight" />
<EditForm Model="@Student" OnSubmit="@(async () => await SaveAsync())" FormName="StudentForm">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <p>
        <label for="Name">ФИО:</label>
        <InputText id="Name" @bind-Value="@Student.Name"/>
    </p>
    <p>
        <label for="Course">Курс:</label>
        <InputNumber id="Course" @bind-Value="@Student.Course"/>
    </p>
    <p>
        <label for="BirthDate">Дата рождения:</label>
        <InputDate id="BirthDate" @bind-Value="@Student.BirthDate"/>
    </p>
    <button type="submit">Сохранить</button>
</EditForm>

