﻿@page "/EditStudent/{id}"
@using Otus.FrontEndWithApiDemo.FrontEnd.Blazor.Services.Base
@using BlazorBootstrap
@inject IStudentsService StudentsService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Редактирование студента</PageTitle>
<Toasts class="p-3"   Placement="ToastsPlacement.TopRight" />
@if (Student is null)
{
    <p>Загрузка....</p>
}
else
{
    <EditForm Model="@Student"  OnValidSubmit="@(async () => await SaveAsync())" FormName="StudentForm" >
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <p>
            <label for="Name">ФИО:</label>
            <InputText id="Name" @bind-Value="@Student.Name" /> 
        </p>
        <p>
            <label for="Course">Курс:</label>
            <InputNumber id="Course" @bind-Value="@Student.Course"/>
        </p>
        <p>
            <label for="BirthDate">Курс:</label>
            <InputDate id="BirthDate" @bind-Value="@Student.BirthDate"/>
        </p>
        <button type="submit">Сохранить</button>
    </EditForm>
}


