﻿@page "/Students"
@using Otus.FrontEndWithApiDemo.FrontEnd.Blazor.Services.Base
@using BlazorBootstrap
@inject IStudentsService StudentsService
@rendermode  InteractiveServer
<PageTitle>Students</PageTitle>
<Toasts class="p-3"   Placement="ToastsPlacement.TopRight" />
@if (_students is null)
{
    <p>Loading...</p>
}
else
{
    <Modal @ref="_modal" Title="Подтверждение удаления">
        <BodyTemplate>
            Вы уверены что хотите удалить студента?
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="CanselDelete">Закрыть</Button>
            <Button Color="ButtonColor.Primary" @onclick="DeleteStudent">Удалить</Button>
        </FooterTemplate>
    </Modal>
    <div class="table">
        <div class="add-button">
            <button  @onclick ="AddStudent" style="text-align: right">Добавить</button>
        </div>
        <QuickGrid Items="_students.AsQueryable()">
            
            <PropertyColumn Title="Имя" Property="arg => arg.Name"/>
            <PropertyColumn Title="Курс" Property="arg => arg.Course"/>
            <PropertyColumn Title="Дата рождения" Property="arg => arg.BirthDate"/>
            <TemplateColumn Title="Actions">
                <button @onclick="@(() => EditStudent(context))">Редактировать</button>
                <button @onclick="@(async () => await ConfirmDelete(context))">Удалить</button>
            </TemplateColumn>

        </QuickGrid>
    </div>
}